# URL where the website is hosted. E.g.: "https://<website>.dev"
NEXT_PUBLIC_DOMAIN="http://localhost:3000"

# Firebase config
NEXT_PUBLIC_API_KEY=""
NEXT_PUBLIC_AUTH_DOMAIN=""
NEXT_PUBLIC_PROJECT_ID=""
NEXT_PUBLIC_STORAGE_BUCKET=""
NEXT_PUBLIC_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_APP_ID=""
NEXT_PUBLIC_MEASUREMENT_ID=""

# Firebase service account for backend api.
# Generate a service account in Firebase: Project Settings > Service Accounts > Generate New Private Key
# Only requires "clientEmail" and "privateKey". https://stackoverflow.com/a/70281142
FIREBASE_SERVICE_ACCOUNT='{"clientEmail":"", "privateKey":""}'

# Optional basic auth applied to all routes. Leave empty to disable basic auth
# Basic auth can be used as an outer layer seperatly to the apps login system. 
# If set, only visitors with the bewllow user/password have the "everyone" permission described in the README.md
BASIC_AUTH_USER=""
BASIC_AUTH_PASSWORD=""
