.footer {
  width: 100%;
  padding-top: 8px;
}

.footerGroup {
  margin-left: auto;
  height: rem(32px);
  background-color: var(--mantine-color-dark-6);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
