.outerWrapper {
  width: 100%;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  box-shadow: var(--mantine-shadow-lg);
  z-index: calc(var(--mantine-z-index-app) + 1);
}

.headerContainer {
  padding-top: 3rem;
  padding-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.group {
  height: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.mrAuto {
  margin-right: auto;
}
