.outerWrapper {
  width: 100%;
  background-color: var(--mantine-color-body);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.headerContainer {
  height: rem(56px);
}

.group {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mlAuto {
  margin-left: auto;
}
