.outerWrapper {
  width: 100%;
  height: rem(56px);
  background-color: var(--mantine-color-body);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  box-shadow: var(--mantine-shadow-lg);
  z-index: 100;
}

.headerContainer {
  height: 100%;
}

.group {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mrAuto {
  margin-right: auto;
}
