:root {
  --scrollbar-bg: var(--mantine-color-gray-9);
  --scrollbar-thumb: var(--mantine-color-gray-7);
  --footer-height: rem(38px);

  @mixin smaller-than 380px {
    --footer-height: rem(56px);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

body::-webkit-scrollbar {
  width: 14px;
  height: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 6px;
  border: 3px solid var(--scrollbar-bg);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  white-space: pre-line;
}
