.mainLayout {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr var(--footer-height);
  grid-template-areas:
    "header"
    "main-content"
    "footer";
}

.header {
  grid-area: header;
}

.content {
  overflow: hidden;
  grid-area: main-content;
  padding-top: var(--mantine-spacing-lg);
  padding-bottom: var(--mantine-spacing-lg);
}

.footer {
  grid-area: footer;
}
