.mainHero,
.secondaryHero {
  padding-top: 7.5rem;
  padding-bottom: 5rem;
}

.mainHero > img,
.secondaryHero > img {
  border-radius: 1rem;
}

.mainHero {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.secondaryHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
}

.heroTitle {
  font-size: 3rem;
}

.secondaryHeroTitle {
  font-size: 2.5rem;
}

@media (max-width: $mantine-breakpoint-xs) {
  .heroTitle {
    font-size: 2.5rem;
  }

  .secondaryHeroTitle {
    font-size: 2rem;
  }
}

@media (max-width: $mantine-breakpoint-sm) {
  .mainHero,
  .secondaryHero {
    padding-top: 5rem;
    padding-bottom: 3.5rem;
  }

  .secondaryHero {
    grid-template-columns: 1fr;
  }

  .imgReverseOrderOnSmallViewport {
    order: 1;
  }
}
